html{
    font-size: 82%;
}
body{
    font-family: sans-serif;
}
h2{
    padding: 10px 0 10px 3px;
    color: #777;
}
#serverinfo{
    background-color: #888;
    padding: 0.3em 0.9em;
    padding-left: 2.2em;
    overflow: hidden;
}
#serverinfo a{
    color: #fff;
}
#navbarNav ul{
    font-weight: bold;
    background-color: #eaeaea;
}
#navbarNav ul li:first-child{
    border-left: 0;
}
#navbarNav ul li{
    border-right: 1px solid #fff;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#navbarNav ul li:hover{
    background-color: #efefef;
}
#navbarNav ul li a{
     padding: 0.6em;
     display: block;
     text-decoration: none;
     color: #235a81;
     cursor: pointer;
 }
#navbarNav ul li a img{
    margin-right: 0.5em;
    vertical-align: -3px;
}
#content{
    margin: 0 0.5em;
}
#content li{
    margin-bottom: 0.3em;
}
#main_pane_left li{
    list-style-type: none !important;
    margin-left: -25px !important;
    margin-top: 1em;
}
.bg-grey-light{
    background-color: #b9b9b9 !important;
}
#pma_navigation_header{
    text-align: center;
}
#pma_navigation_header label{
    display: inline-block;
    margin-bottom: 1em;
}
#select_server{
    max-inline-size: -webkit-fill-available;
}
.btn1{
    margin-top: 20px;
}
/*Collapse*/
#collapse a{
    padding: 0;
}

/*new_databases*/
#new_database{
    display: none;
    width: 100%;
}
#buttonGo{
    border-radius: 0.85rem;
    line-height: 1.15;
}
#page_content1 form{
    margin-left: 15px;
}
#table_chack i{
    margin-left: 2em;
}
#table_chack button{
    border: none;
    background-color: transparent;
}
#tabledatabases table:first-of-type tr:nth-child(odd){
    background: #DFDFDF;
}

/*table_user*/
#tables{
    display: none;
    width: 100%;
}
#tableFilter1{
    padding: 0.1em 1em;
    margin-top: 1em;
    border: #aaa 1px solid;
    border-radius: 4px 4px 0 0;
}
#table1 table:first-of-type tr:nth-child(odd){
    background: #DFDFDF;
}
fieldset{
    background-color: #eee;
}
legend{
    display: block;
    margin-bottom: 0.5rem !important;
}
fieldset legend{
    font-weight: bold;
    color: #444;
    padding: 5px 10px;
    border: 1px solid #aaa;
    background-color: #fff;
    width: initial;
    font-size: 1rem;
}
fieldset .formelement{
    float: left;
    margin-right: 0.5em;
}
#tableFilter2{
    padding: 0.1em 1em;
    margin-top: 1em;
    border: #aaa 1px solid;
    border-radius: 4px 4px 0 0;
}
.selectallarrow{
    margin-right: 0.3em;
    margin-left: 0.6em;
}
.data{
    margin: 0 0 12px;
}
input[type=checkbox], input[type=text], input[type=number]{
    margin: 6px;
}
input[type=text]{
    padding: 4px;
}
input[type=number]{
    width: 50px;
}
.select_bar{
    margin: 0 3em 0 3em;
}
.print_ignore{
    margin-bottom: 1rem;
}
fieldset .formelement {
    float: left;
    margin-right: 0.5em;
}

.tblFooters{
    padding: 0.5em;
    border-left: #aaa 1px solid;
    border-right: #aaa 1px solid;
    border-bottom: #aaa 1px solid;
    margin-bottom: 0.5em;
    text-align: right;
    border-radius: 0 0 4px 4px;
    background: #d3dce3;
}
.btn-light{
    font-weight: 700 !important;
    border-color: #aaa !important;
    background-color: #eee !important;
}
.btn2{
    border-radius: 0.85rem !important;
    line-height: 1.15 !important;
}

